.right-place {
  height: 104px;
  width: 203px;
  border: 2px solid black;
  border-color: black;
  border-left: 3px solid black;
}

.player-right-place-color {
  width: 12px;
  height: 104px;
  border-left: 2px dashed gray;
}

.right-place-name {
  font-size: 0.8rem;
  width: 80px;
  height: 60px;
  text-transform: uppercase;
  overflow-wrap: break-word;
  transform: rotate(-90deg);
  margin-top: 20px;
  margin-left: 10px;
}

.right-place-image {
  width: 75px;
}
