.right-place {
  height: 104px;
  width: 204px;
  border: 2px solid black;
  border-color: black;
  border-left: 3px solid black;
}

.player-right-place-color {
  width: 12px;
  height: 104px;
  border-left: 2px dashed gray;
}
