.left-property-container {
  height: 100%;
  width: 100%;
}

.left-property {
  width: 100%;
  height: 100%;
}

.left-owner {
  height: 100%;
  width: 6%;
  border-right: 1px dashed gray;
}

.left-place-content {
  width: 93%;
  height: 100%;
}

.left-place-title {
  width: 100%;
  height: 40%;
  font-size: 10px;
  font-weight: 600;
  overflow-wrap: break-word;
  text-transform: uppercase;
}

.left-place-image {
  height: 32%;
}

.p-box-container {
  margin: auto;
}

.left-image {
  height: 30%;
  width: 30%;
}

.left-player-positions {
  height: 25%;
  /* width: 100%; */
}

.left-player-positions .p-box {
  width: 12px;
  height: 12px;
  margin: 2px;
}

/* .left-city-color {
  height: 100%;
  width: 15%;
} */

/* remaining = 94 */
