.tables {
  margin: 20px;
  width: 800px;
  height: auto;
  border: 2px dashed black;
}

.property-title {
  margin-left: 20px;
}

.mtg-btn {
  margin-right: 20px;
  height: 55px;
}

.cell {
  background-color: rgb(207, 204, 204);
  padding-top: 20px;
}

hr {
  margin-bottom: 0;
}

.tables-title {
  margin: 10px 0px 10px 0px;
}

.strikethrough {
  text-decoration: line-through;
}
