.grid-container {
  display: grid;
  width: 60vw;
  height: 96vh;
  margin-left: 20px;
  grid-template-columns: 1.5fr repeat(9, 1fr) 1.5fr;
  grid-template-rows: 1.5fr repeat(9, 1fr) 1.5fr;
  gap: 0px 0px;
  grid-template-areas:
    '. . . . . . . . . . .'
    '. Arena Arena Arena Arena Arena Arena Arena Arena Arena .'
    '. Arena Arena Arena Arena Arena Arena Arena Arena Arena .'
    '. Arena Arena Arena Arena Arena Arena Arena Arena Arena .'
    '. Arena Arena Arena Arena Arena Arena Arena Arena Arena .'
    '. Arena Arena Arena Arena Arena Arena Arena Arena Arena .'
    '. Arena Arena Arena Arena Arena Arena Arena Arena Arena .'
    '. Arena Arena Arena Arena Arena Arena Arena Arena Arena .'
    '. Arena Arena Arena Arena Arena Arena Arena Arena Arena .'
    '. Arena Arena Arena Arena Arena Arena Arena Arena Arena .'
    '. . . . . . . . . . .';
}

.Arena {
  grid-area: Arena;
}

.grid-container > div {
  border: 1px solid rgb(47, 47, 47);
}

.game-controls {
  max-height: 97vh;
  overflow-y: auto;
}
