.horizontal-place-2 {
  height: 104px;
  width: 204px;
  border: 2px solid black;
  border-color: black;
  border-left: 3px solid black;
}

.right-city {
  width: 40px;
  height: 100px;
  padding: 0;
  margin: 0;
  /* background-color: orange; */
  overflow-y: hidden;
}

.player-right-color {
  width: 12px;
  height: 100px;
  border-left: 2px dashed gray;
  background-color: pink;
}
